.header {
  // position: absolute;
  // width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
  // z-index: 1;
  position: fixed;
  width: 100%;
  // height: 50px;
  top: 12px;
  z-index: 1000;
  @include r(1199) {
    top: 0;
  }
  // @include r(601) {
  //   top: 20px;
  // }
  a {
    transition: $animation-speed;
  }
}

// .header .container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
// }

.header .container {
  // padding-top: 12px;
  @include r(1199) {
    padding: 0;
  }
  // @include r(767) {
  //   padding: 0;
  // }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: $grey;
  padding: 6px;
  @include r(1199) {
    border-radius: 0;
    padding: 6px 80px;
  }
  @include r(991) {
    border-radius: 0;
    padding: 6px 60px;
  }
  @include r(767) {
    border-radius: 0;
    padding: 6px 40px;
  }
  @include r(600) {
    border-radius: 0;
    padding: 6px 20px;
  }
}

.header__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 13px;
  // @include r(767) {
  //   margin-right: 13px;
  // }
}

.header__logo {
  &:hover {
    opacity: 0.6;
  }
  img {
    @include r(1226) {
      max-width: 180px;
    }
    @include r(600) {
      max-width: 122px;
    }
  }
}

.header__middle {
  display: flex;
  flex-wrap: wrap;
  margin-right: 13px;
  // flex: 5;
  @include r(600) {
    flex: unset;
    margin-right: 0;
  }
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  @include r(1199) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    // margin-left: 0;
  }
}

.navigation-menu__item {
  margin-right: 28px;
  &:last-child {
    margin-right: 0;
  }
  // @include r(1199) {
  //   margin-right: 30px;
  // }
  // @include r(1199) {
  //   margin-right: 0;
  //   padding-bottom: 28px;
  // }
}

.navigation-menu__link {
  position: relative;
  @include fm;
  font-size: 14px;
  line-height: 14px;
  color: $grey-txt;
  transition: color 0.3s;
  &:hover {
    color: $white;
    @include r(1024) {
      color: $grey-txt;
    }
  }
  &:after {
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    width: 0;
    height: 4px;
    background-color: #f12d2f;
    content: "";
    transition: width 0.3s ease-out;
  }
}

.navigation-menu__link:hover:after,
.navigation-menu__link:focus:after {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.contact__btn {
  padding: 20px;
  @include fsb;
  background: $light-grey;
  color: $white;
  border-radius: 100px;
  font-size: 15px;
  line-height: 16px;
  &:hover {
    background: $white;
    color: $dark-grey;
    @include r(1024) {
      background: $light-grey;
      color: $white;
    }
  }
  @include r(767) {
    padding: 16px;
    font-size: 13px;
  }
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // flex: 3;
  // justify-content: flex-end;
}

.languages {
  margin-right: 28px;
  span {
    font-size: 14px;
    @include fsb;
    line-height: 14px;
    color: $grey-txt;
  }
}

.has-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  @include r(1199) {
    display: none;
  }
}

.has-dropdown .icon {
  color: $grey-txt;
  font-size: 24px;
  position: relative;
}

.dropdown__h {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 35px 0 24px;
  position: absolute;
  top: 100%;
  flex-direction: column;
  transition: $animation-speed;
  opacity: 0;
  visibility: hidden;
  left: -50px;
  text-align: center;
}

.languages .dropdown__h {
  padding: 2px 0;
  left: -13px;
}

.has-dropdown:hover .dropdown__h {
  opacity: 1;
  visibility: visible;
}

.dropdown__h li a,
.dropdown__h li span {
  position: relative;
  font-size: 14px;
  @include fsb;
  line-height: 14px;
  color: $grey-txt;
  padding: 5px;
  display: block;
  -webkit-transition: $animation-speed;
  transition: $animation-speed;
  &:hover {
    color: $white;
    @include r(1024) {
      color: $grey-txt;
    }
  }
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: $red;
    content: "";
    transition: width 0.3s ease-out;
  }
}

.dropdown__h li a:hover:after,
.dropdown__h li a:focus:after {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.header__mobile-left {
  display: none;
  @include r(1199) {
    display: flex;
    align-items: center;
    margin-right: 13px;
  }
}

.btn-open-menu {
  @include r(1199) {
    position: relative;
    width: 24px;
    height: 18px;
    padding: 0;
    margin: 0;
    background: transparent;

    span,
    &:after,
    &:before {
      position: absolute;
      left: 0;
      height: 3px;
      background-color: $white;
      border-radius: 100px;
    }

    &:after,
    &:before {
      content: "";
    }

    &:after {
      top: 0;
      width: 100%;
    }
    &:before {
      bottom: 0;
      width: 50%;
    }

    span {
      top: 45%;
      width: 100%;
    }
  }
}

.navigation-menu-wrap {
  @include r(1199) {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 12px 16px 16px;
    background-color: $grey;
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.2s linear;
  }
}

.navigation-menu-wrap.active {
  transform: translateX(100%);
}

.header__menu {
  display: none;
  width: 100%;
  height: 100%;
  background: $dark-grey;
  padding: 20px 20px 40px 20px;
  @include r(991) {
    padding: 20px 80px 40px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 220px;
  left: 50%;
  gap: 28px;
  transform: translate(-50%, -50%);
  align-items: center;
  @include r(480) {
    left: 20px;
    top: 100px;
    transform: none;
    align-items: flex-start;
  }
}

.menu__item {
  @include fm;
  font-size: 18px;
  line-height: 18px;
  color: $grey-txt;
  position: relative;
  // @include r(601) {
  //   font-size: 24px;
  // }
  // @include r(480) {
  //   font-size: 18px;
  // }
}

.menu-languages {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  @include r(480) {
    bottom: 40px;
    left: 20px;
    transform: none;
  }
}

.menu-languages__list {
  display: flex;
}

.menu-languages__item {
  margin-right: 28px;
  &:last-child {
    margin-right: 0;
  }
}

.menu-languages__link {
  @include fm;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey-txt;
  // @include r(601) {
  //   font-size: 24px;
  // }
  // @include r(480) {
  //   font-size: 18px;
  // }
}

.menu-languages__link--active {
  color: $red;
}

.fancybox-button svg {
  color: $white;
}

.fancybox-close-small {
  opacity: 1;
}

.fancybox-slide--html {
  padding: 0;
}

.fancybox-slide--html .fancybox-close-small {
  right: 0;
  top: 20px;
  background: $light-grey;
  border-radius: 100px;
  @include r(1199) {
    left: 100px;
  }
  @include r(991) {
    left: 80px;
  }
  @include r(767) {
    left: 40px;
  }
  @include r(600) {
    left: 20px;
  }
}
