{% set title = 'Главная' %}
{% extends 'layouts/layout.njk' %}
{% block content %}
    <div class="wrapper">
        {% include 'components/header.njk' %}
        <main class="main">     
            {# <section class="banner">
                <div class="container">
                    
                    <div class="banner__main">
                        <div class="banner__name">Безпілотний літальний апарат</div>
                        <div class="banner__title">Lion7 v2</div>
                        <div class="banner__text">Офіційний імпортер Monolit</div>
                    </div>
                    <img src="images/dron1.png" alt="#" width="620" height="523">
                </div>
            </section>
            <section class="content__wrap">
                <div class="container grids">
                    <div class="content__text span5">Розроблений з урахуванням <span>рекомендацій військових </span>для максимальної надійності та ефективності.</div>
                    <div class="span2"></div>
                    <div class="content__text span5">Універсальне рішення для <span>виконання бойових завдань</span></div>
                </div>
            </section> #}

            <section class="banner">
                <div class="container">
                    <div class="banner__top">
                        {# <img src="images/dron1.png" alt="#" width="620" height="523"> #}
                        <div class="banner__main">
                            <div class="banner__name">Безпілотний літальний апарат</div>
                            <div class="banner__title">Lion7 v2</div>
                            <div class="banner__text">Офіційний імпортер Monolit</div>
                        </div>
                    </div>
                    <div class="banner__bottom grids">
                        <div class="content__text">Розроблений з урахуванням <span>рекомендацій військових </span>для максимальної надійності та ефективності.</div>
                        {# <div class="span2"></div> #}
                        <div class="content__text">Універсальне рішення для <span>виконання бойових завдань</span></div>
                    </div>
                </div>
            </section>
            <section class="cards__slider" id="#cards__slider">
                <div class="container">
                    <div class="main__title">
                            Ось що його вирізняє
                    </div>  
                    <div class="slider">
                        <div class="mySwiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="cards__item">
                                        <img src="images/cards/card1.png" alt="card" class="cards__img">
                                        <div class="cards__text">Вдосконалена камера Caddx Twilight Camera 1200TVL, яка забезпечує високу якість зображення навіть в умовах слабкого освітлення. Це неодноразово протестоване та підтверджено хлопцями.</div>
                                    </div>
                               </div>
                               <div class="swiper-slide">
                                    <div class="cards__item">
                                        <img src="images/cards/card1.png" alt="card" class="cards__img">
                                        <div class="cards__text">Потужний відеопередавач VTX з частотою 5.8G та чіпом потожністью 2.5W він забезпечує стабільний зв'язок на відстань 10 км без втрат сигналу.</div>
                                    </div>
                               </div>
                               <div class="swiper-slide">
                                    <div class="cards__item">
                                        <img src="images/cards/card1.png" alt="card" class="cards__img">
                                        <div class="cards__text">Дрон оснащений потужними двигунами 2812 1150KV, що дозволяють піднімати вантаж до 3 кг. </div>
                                    </div>
                               </div>
                               <div class="swiper-slide">
                                    <div class="cards__item">
                                        <img src="images/cards/card1.png" alt="card" class="cards__img">
                                        <div class="cards__text">Корисне навантаження в Lion7 - 1.5 кг і цей FPV легко впорається з його доставкою на відстань до 10 км швидкістю зі швидкість понад 100 км/год і будьте певними що він досягне цілі.</div>
                                    </div>
                               </div>
                               <div class="swiper-slide">
                                    <div class="cards__item">
                                        <img src="images/cards/card1.png" alt="card" class="cards__img">
                                        <div class="cards__text">Вдосконалена камера Caddx Twilight Camera 1200TVL, яка забезпечує високу якість зображення навіть в умовах слабкого освітлення. Це неодноразово протестоване та підтверджено хлопцями.</div>
                                    </div>
                               </div>
                                                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="specifications" id="#specifications">
                <div class="container">
                    <div class="main__title">Специфікації</div>  
                    <div class="specifications__wrap">
                        <div class="specifications__left">
                            <img src="images/dron1.png" alt="card" class="specifications__img" width="255" height="215">
                            <div class="cards__subtitle">FPV Lion 7 Analog 5.8G 2.5W 2812 1150KV Twilight Camera 6s ELRS 915/868MHz</div>
                            <a href="#feedback__form" class="contact__btn">Отримати консультацію</a>
                        </div>
                        <div class="specifications__right">
                            <ul class="specifications__list">
                                <li class="specifications__item">
                                    <span class="cards__text name">Радіус (оперативний) виконання завдання</span>
                                    <span class="cards__text meaning">До 10 км</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Максимальна тривалість польоту з корисним навантаженням</span>
                                    <span class="cards__text meaning">До 15 хв.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Максимальна тривалість польоту без навантаження</span>
                                    <span class="cards__text meaning">25хв.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Дальність польоту із повним корисним навантаженням</span>
                                    <span class="cards__text meaning">До 10 км.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Максимальна висота польоту</span>
                                    <span class="cards__text meaning">До 200 м.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Робоча/крейсерска швидкість руху</span>
                                    <span class="cards__text meaning">100 км/год</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Максимальна швидкість руху</span>
                                    <span class="cards__text meaning">140 км/год</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Допустиме вітрове навантаження</span>
                                    <span class="cards__text meaning">До 15 м/с</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Вага БпЛА в пакуванні</span>
                                    <span class="cards__text meaning">1100 г.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Вага БпЛА без пакування</span>
                                    <span class="cards__text meaning">580 г.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Час розгортання</span>
                                    <span class="cards__text meaning">2 хв.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Тип силової установки</span>
                                    <span class="cards__text meaning">Електрична</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Система наведення</span>
                                    <span class="cards__text meaning">Ручна</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Вага БпЛА в пакуванні з АКБ</span>
                                    <span class="cards__text meaning">1950 г.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Вага БпЛА без пакування за АКБ</span>
                                    <span class="cards__text meaning">1430 г.</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Тип корисного навантаження</span>
                                    <span class="cards__text meaning">Різний</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Корисне навантаження</span>
                                    <span class="cards__text meaning">1,5 кг</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Ємкість акумулятора</span>
                                    <span class="cards__text meaning">8400 mA</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Тип аккумулятора</span>
                                    <span class="cards__text meaning">6s2p</span>
                                </li>                                
                            </ul>
                            <div class="specifications__title">Діапозон робочих частот:</div>
                            <ul class="specifications__list">
                                <li class="specifications__item">
                                    <span class="cards__text name">Частора керування ExpressLRS</span>
                                    <span class="cards__text meaning">915/868MHz</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Частота аналового відео</span>
                                    <span class="cards__text meaning">5.8 Гц</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Система керування</span>
                                    <span class="cards__text meaning">Ручна</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Розмір в коробці без АКБ, мм</span>
                                    <span class="cards__text meaning">320*250*72</span>
                                </li>
                                <li class="specifications__item">
                                    <span class="cards__text name">Радіус дії радіоканалу керування</span>
                                    <span class="cards__text meaning">25 км.</span>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <section class="characteristics" id="#characteristics">
                <div class="container">
                    <div class="main__title">Характеристики</div> 
                    <div class="characteristics__properties">
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Камера:</div>
                            <div class="cards__text meaning">Caddx Twilight Camera 1200TVL</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Відеопередавач (VTX):</div>
                            <div class="cards__text meaning">Goodrone 5.8G  2.5W</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Двигуни:</div>
                            <div class="cards__text meaning">Goodrone 2812 1150KV</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                        <div class="characteristics__info">
                            <div class="cards__text name">Рама:</div>
                            <div class="cards__text meaning">APEX  Type H, 7 дюймів</div>
                        </div>
                    </div>
                    <img src="images/dron.png" alt="dron" class="characteristics__img" width="1240" height="600">
                </div>                
            </section>
            <section class="exploitation">
                <div class="container">
                    <div class="exploitation__wrap">
                        <div class="exploitation__left">
                            <div class="exploitation__title">Умови використання та експлуатації (застосування) за для збереження показників:</div> 
                            <div class="exploitation_btn">
                                <a href="#feedback__form" class="contact__btn">Отримати консультацію</a>
                            </div>
                        </div>
                        <div class="exploitation__right">
                            <div class="properties__info">
                                <i class="icon icon-check-bold"></i>
                                <div class="properties__text">Акумулятор 6S2P Molicel INR-21700 P42A 8400mAh</div>
                            </div>
                            <div class="properties__info">
                                <i class="icon icon-check-bold"></i>
                                <div class="properties__text">Температурний діапазон застосовується від мінус 10 °С до плюс 30 °С.</div>
                            </div>
                            <div class="properties__info">
                                <i class="icon icon-check-bold"></i>
                                <div class="properties__text">Швидкість вітру не більше ніж 15 м/с</div>
                            </div>
                            <div class="properties__info">
                                <i class="icon icon-check-bold"></i>
                                <div class="properties__text">Вологість повітря не більше ніж 70%/div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                {# <section class="banner">
                    <div class="container">
                    <img src="images/dron1.png" alt="#">
                    <div class="banner__main">
                        <div class="banner__name">Безпілотний літальний апарат</div>
                        <div class="banner__title">Lion7 v2</div>
                        <div class="banner__text">Офіційний імпортер Monolit</div>
                    </div>
                </div>                    
                    <div class="container grids">
                        <div class="content__text span5">Розроблений з урахуванням рекомендацій військових для максимальної надійності та ефективності.</div>
                        <div class="span2"></div>
                        <div class="content__text span5">Універсальне рішення для виконання бойових завдань</div>
                    </div>
                    <p>agdadg</p>
                    <p>agdadg</p>
                    <a href="#" class="footer__logo">
            <img src="images/footer-logo.svg" alt="#">
        </a>
                </section>       #}
                {# {% for image in productsImages %}
                    <div class="img">
                        <img src="{{ image.src }}" alt="">
                    </div>
                {% endfor %} #}
            
        </main>
        {% include 'components/footer.njk' %}
    </div>
{% endblock %}
