<header class="header sticky">
    <div class="container">
        <div class="header__inner">
            <div class="header__left">
                <div class="header__mobile-left">
                    <button class="btn-open-menu" type="button" data-fancybox data-src="#header__menu">
                        <span></span>
                    </button>
                </div>
                <a href="/" class="header__logo">
                    <img src="images/header-logo.svg" alt="FPV Lion 2" >
                </a>
            </div>
            <div class="header__middle">
                <div class="navigation-menu-wrap">
                    <ul class="navigation-menu">
                        <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Огляд</a>
                        </li>
                        <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Специфікації</a>
                        </li>
                        <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Характеристики</a>
                        </li>
                        <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Нам довіряють</a>
                        </li>
                        <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Контакти</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__right">
                <div class="languages has-dropdown">
                    <span>Ua</span>
                    <i class="icon icon-arrow"></i>
                    <ul class="dropdown__h">
                        <li>
                            <a href="/pl/">Pl</a>
                        </li>
                        <li>
                            <a href="/en/">En</a>
                        </li>
                    </ul>
                </div>
                <a href="#feedback__form" class="contact__btn">Зв'язатися з нами</a>
            </div>
        </div>        
    </div>
    <div class="header__menu" id="header__menu">
        <div class="menu">
            <nav class="menu__list">
                <a href="#" class="menu__item">Огляд</a>
                <a href="#" class="menu__item">Специфікації</a>
                <a href="#" class="menu__item">Характеристики</a>
                <a href="#" class="menu__item">Нам довіряють</a>
                <a href="#" class="menu__item">Про нас</a>
                <a href="#" class="menu__item">Контакти</a>
            </nav>
        </div>
        <div class="menu-languages">
            <ul class="menu-languages__list">
                <li class="menu-languages__item">
                    <span class="menu-languages__link menu-languages__link--active">Ua</a>
                </li>
                <li class="menu-languages__item">
                    <a class="menu-languages__link" href="/pl/">Pl</a>
                </li>
                <li class="menu-languages__item">
                    <a class="menu-languages__link" href="/en/">En</a>
                </li>
            </ul>
        </div>
    </div>
</header>