.banner {
  // position: relative;
  padding-top: 60px;
  padding-bottom: 134px;
  // padding-bottom: 28px;
  // &:before {
  //   height: 50%;
  //   background: $red;
  //   position: absolute;
  // }

  background-image: url(../images/dron1.png);
  background-repeat: no-repeat;
  background-position: 50% 120px;
  background-size: 620px 523px;

  position: relative;
  width: 100%;
  margin: 0 auto;
  &:before {
    position: absolute;
    background: $red;
    width: 100%;
    max-width: 1440px;
    // height: 620px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 460px;
    border-radius: 80px;
    display: block;
    content: "";
    z-index: -1;
    margin: 0 auto;
    @include r(767) {
      border-radius: 40px;
    }
  }
}

.banner__name {
  @include fsb;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 2px;
  @include r(767) {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }
}

.banner__title {
  @include fbl;
  font-size: 180px;
  line-height: 180px;
  color: $light-grey;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 140px;
  position: relative;
  z-index: -1;
  @include r(1140) {
    // font-size: 150px;
    margin-bottom: 0;
  }
  @include r(1024) {
    font-size: 140px;
    line-height: 140px;
  }
  @include r(991) {
    font-size: 130px;
    line-height: 130px;
  }
  @include r(767) {
    font-size: 100px;
    line-height: 100px;
  }
  @include r(600) {
    font-size: 56px;
    line-height: 56px;
  }
}

.banner__text {
  font-size: 16px;
  line-height: 24px;
  color: $grey-txt;
  @include r(1140) {
    display: none;
  }
}

.arrow__down {
  text-align: center;
  margin-bottom: 60px;
  @include r(1140) 
}

.arrow__text {
  font-size: 12px;
  line-height: 16px;
  @include fsb;
  text-transform: uppercase;
}

.content__wrap {
  background: $red;
  // padding-top: 318px;
  // padding-bottom: 134px;
  border-radius: 80px;
  display: grid;
  // width: 100%;
  // max-width: 1440px;
  // margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(505px, 1fr));
  grid-row-gap: 40px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

// .content__wrap .grids {
//   width: 100%;
//   max-width: 1240px;
//   margin: 0 auto;
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-gap: 20px;
// }

.banner__bottom.grids {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(505px, 1fr));
  // grid-gap: 20px;
  // grid-column-gap: 230px;
  // grid-row-gap: 40px;
  padding-top: 318px;
    @include r(1140) {
      padding-top: 448px;
  }
  @include r(1099) {
    grid-row-gap: 40px;
    grid-template-columns: auto;

  }
}

// .content__wrap {
//   display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(505px, 1fr));
//     grid-row-gap: 40px;
// }

.content__text {
  @include fl;
  font-size: 32px;
  line-height: 42px;
  // width: 100%;
  // @include r(1099) {
  //   margin-bottom: 20px;
  // }
  // @include r(767) {
  //   font-size: 20px;
  //   line-height: 30px;
  // }
  // @include r(1099) {
  //   font-size: 28px;
  // }
  @include r(767) {
    font-size: 22px;
    line-height: 30px;
  }
  span {
    @include fb;
    font-size: 32px;
    line-height: 42px;
    @include r(767) {
      font-size: 22px;
      line-height: 30px;
    }
  }
}

.span2 {
  grid-column: auto / span 2;
}
.span3 {
  grid-column: auto / span 3;
}
.span4 {
  grid-column: auto / span 4;
}
.span5 {
  grid-column: auto / span 5;
}
.span6 {
  grid-column: auto / span 6;
}
.span7 {
  grid-column: auto / span 7;
}
.span8 {
  grid-column: auto / span 8;
}
.span9 {
  grid-column: auto / span 9;
}
.span10 {
  grid-column: auto / span 10;
}
.span11 {
  grid-column: auto / span 11;
}
.span12 {
  grid-column: auto / span 12;
}

.cards__slider {
  padding-top: 119px;
  padding-bottom: 140px;
  @include r(1024) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main__title {
  @include fsb;
  font-size: 52px;
  line-height: 56px;
  margin-bottom: 40px;
  @include r(767) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.cards__slider .main__title {
  margin-bottom: 64px;
  @include r(767) {
    margin-bottom: 20px;
  }
}


.slider {
  display: flex;
  justify-content: center;
  // @include r(1024) {
  //   margin-bottom: 140px;
  // }
  // @include r(767) {
  //   margin-bottom: 100px;
  // }
  // @include r(601) {
  //   margin-bottom: 80px;
  // }
}

.mySwiper {
  // display: flex;
  // flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  // grid-gap: 20px;
  .swiper-slide {
    border-radius: 20px;
    max-width: 295px;
    min-height: 520px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: $grey;
    @include r(767) {
      max-width: 237px;
      min-height: 455px;
    }
  }
}

.cards__wrap {
  display: flex;
  // width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  // justify-content: center;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-gap: 20px;
  position: relative;
  overflow: visible;
  .cards__item {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: $grey;
    margin-right: 20px;
    // position: relative;
    // overflow: visible;

  }
  .cards__img {
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

// #horizontal {
//   white-space: nowrap;
//   overflow: hidden;
//   margin: 0;
// }


.cards__item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  @include r(767) {
    padding: 16px;
  }
}

.cards__img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.cards__text {
  font-size: 16px;
  line-height: 24px;
  @include r(767) {
    font-size: 14px;
    line-height: 20px;
  }
}

.specifications {
  .container {
    padding-bottom: 164px;
    @include r(1023) {
      padding-bottom: 60px;
    }
    @include r(991) {
      padding-bottom: 60px;
    }
  }
}

.specifications__wrap {
  flex-wrap: wrap;
  // display: flex;
  display: grid;
  grid-template-columns: minmax(0, 295px) minmax(0, 715px);
  grid-column-gap: 60px;
  justify-content: space-between;
  align-items: flex-start;
  // gap: 60px;
  @include r(991) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 60px;
  }
}

.specifications__img {
  margin-bottom: 20px;
  width: 100%;
  z-index: 1;
}

.specifications__left {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 28px;
  max-width: 295px;
  border-radius: 20px;
  background: $grey;
  position: relative;
  @include r(991) {
    order: 1;
    margin: 0 auto;
    max-width: 320px;
  }
  // @include r(767) {
  //   max-width: 320px;
  // }
  &::before {
    position: absolute;
    background-color: $red;
    width: 100%;
    height: 170px;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 20px 20px 0 0;
    display: block;
    content: "";
    z-index: 1;
  }
  .cards__subtitle {
    @include fsb;
    text-align: center;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
  }
  .contact__btn {
    background: $white;
    width: 100%;
    color: $dark-grey;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      background: $light-grey;
      color: $white;
    }

    @include r(767) {
      font-size: 13px;
      padding: 16px;
    }
  }
}

.specifications__item {
  // display: flex;
  border-radius: 8px;
  padding: 12px 16px;
  // justify-content: space-between;
  // gap: 15px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 130px);
  grid-column-gap: 15px;
  @include r(767) {
    padding: 8px 12px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 81px);
  }

  &:nth-child(odd) {
    background: $grey;
  }
  .name {
    color: $grey-txt;
    // text-align: left;
  }
  .meaning {
    @include fsb;
    text-align: right;
    @include r(767) {
      @include fr;
    }
  }
}

.specifications__list {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}

.specifications__title {
  @include fsb;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 12px;
}

.characteristics,
.battery,
.video,
.partners {
  .container {
    padding-bottom: 140px;
    @include r(1023) {
      padding-bottom: 100px;
    }
    @include r(991) {
      padding-bottom: 60px;
    }
  }
}

.characteristics__properties {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  margin-bottom: 140px;
  @include r(1366) {
    margin-bottom: 100px;
  }
  @include r(1099) {
    margin-bottom: 60px;
  }
  @include r(600) {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
  }
}

.characteristics__info {
  border-radius: 16px;
  background: $grey;
  padding: 20px;
  @include r(600) {
    border-radius: 8px;
    padding: 22px 12px;
  }
  .name {
    color: $grey-txt;
    margin-bottom: 4px;
    @include r(767) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .meaning {
    @include fsb;
    @include r(767) {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

.characteristics__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.exploitation {
  .container {
    padding-bottom: 140px;
    @include r(991) {
      padding-bottom: 60px;
    }
  }
}

.exploitation__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  @include r(991) {
    grid-template-columns: auto;
  }
  @include r(767) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.exploitation__title {
  @include fm;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 24px;
  @include r(991) {
    margin-bottom: 0;
  }
  @include r(767) {
    @include fsb;
    font-size: 28px;
    line-height: 32px;
  }
}

.exploitation__left {
  .contact__btn {
    background: $white;
    width: 100%;
    color: $dark-grey;
    text-align: center;
    transition: all 0.3s;
    max-width: 255px;

    &:hover {
      background: $light-grey;
      color: $white;
    }
    @include r(991) {
      display: none;
    }
    @include r(767) {
      font-size: 13px;
      padding: 16px;
    }
  }
}

.exploitation__btn {
  display: flex;
}

.exploitation__right {
  .contact__btn {
    display: none;
    @include r(991) {
      background: $white;
      width: 100%;
      color: $dark-grey;
      text-align: center;
      transition: all 0.3s;
      max-width: 100%;
      display: block;
      &:hover {
        background: $light-grey;
        color: $white;
      }

      @include r(767) {
        font-size: 13px;
        padding: 16px;
      }
    }
  }
}

.properties__content {
  display: grid;
  gap: 12px;
  @include r(991) {
    gap: 8px;
    margin-bottom: 40px;
  }
}

.properties__info {
  display: flex;
  gap: 8px;
  border-radius: 12px;
  background: #282828;
  padding: 20px;
  .icon {
    color: $red;
    font-size: 30px;
    @include r(767) {
      font-size: 24px;
    }
  }
}

.properties__text {
  font-size: 20px;
  line-height: 30px;
  @include r(767) {
    font-size: 16px;
    line-height: 24px;
  }
}

.battery__wrap {
  background: $grey;
  border-radius: 20px;
  padding: 12px 12px 12px 40px;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 88px;
  // grid-template-columns: repeat(
  //   auto-fit,
  //   minmax(280px, 700px) minmax(296px, 400px)
  // );

  grid-template-columns: repeat(auto-fit, minmax(0, 700px) minmax(0, 400px));
  align-items: center;
  @include r(1099) {
    grid-gap: 40px;
    // grid-template-columns: auto;
  }
  @include r(1023) {
    padding: 0;
    grid-template-columns: auto;
  }
}

.battery__left {
  .content__text {
    margin-bottom: 12px;
  }
  @include r(1023) {
    padding: 40px 20px 0;
    .content__text {
      margin-bottom: 16px;
    }
  }
  @include r(767) {
    .content__text {
      font-size: 24px;
      span {
        font-size: 24px;
      }
    }
  }
}

.battery__right {
  @include r(1023) {
    padding: 0 12px 12px;
    margin: 0 auto;
  }
}

.battery__img {
  height: auto;
  border-radius: 4px 12px 12px 4px;
  @include r(1023) {
    padding: 0;
    border-radius: 0 0 12px 12px;
  }
}

.video__wrap {
  text-align: center;
}

.frame_blc {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.frame_blc iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.partners__wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  @include r(1023) {
    grid-gap: 12px;
  }
}

.partners__wrap {
  .partners__item, .partners__content {
    background: $white;
    border-radius: 10px;
  }

}

.col1 {
  grid-column: 1 / 4;
  @include r(1099) {
    grid-column: 1 / 7;
    order: 2;
  }
}

.col2 {
  grid-column: 4 / 5;
  @include r(1099) {
    grid-column: 1 / 4;
    order: 1;

  }
  // @include r(599) {
  //   grid-column: 1 / 4;

  // }
}
.col3 {
  grid-column: 5 / 6;
  @include r(1099) {
    grid-column: 4 / 7;
    order: 1;
  }
  // @include r(599) {
  //   grid-column: 4 / 7;

  // }
}

.col4 {
  grid-column: 6 / 7;
  @include r(1099) {
    grid-column: 1 / 4;
    order: 3;
  }
  // @include r(599) {
  //   grid-column: 1 / 4;
  // }
}
.col5 {
  grid-column: 1 / 2;
  @include r(1099) {
    grid-column: 4 / 7;
    order: 3;
  }
  // @include r(599) {
  //   grid-column: 4 / 7;
  // }
}
.col6 {
  grid-column: 2 / 3;
  @include r(1099) {
    grid-column: 1 / 4;
    order: 5;
  }
  // @include r(599) {
  //   grid-column: 1 / 4;
  //   order: 5;
  // }
}
.col7 {
  grid-column: 3 / 4;
  @include r(1099) {
    grid-column: 4 / 7;
    order: 5;
  }
}
.col8 {
  grid-column: 4 / 7;
  @include r(1099) {
    grid-column: 1 / 7;
    order: 4;
  }
}

.partners__item {
  padding: 20px 12px 12px 20px;
  @include r(991) {
    padding: 20px 12px;
  }
  .icon {
    color: $red;
    margin-bottom: 12px;
    @include r(991) {
      margin-bottom: 20px;
    }
  }
}

.partners__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners__info {
  @include r(991) {
    margin-bottom: 12px;
  }
}

.partners__text {
  font-size: 16px;
  line-height: 22px;
  color: $dark-grey;
  margin-bottom: 4px;
  @include r(991) {
    margin-bottom: 40px;
  }
  @include r(767) {
    font-size: 12px;
    line-height: 16px;
  }
}

.partners__name {
  @include fsb;
  color: $dark-grey;
}

.partners__position {
  color: $light-grey;
  @include r(767) {
    font-size: 13px;
    line-height: 18px;
  }
}

.partners__content {
  padding: 24px 12px;
  // max-width: 190px;
  // height: 244px;
  min-height: 244px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  text-align: center;
  @include r(767) {
    padding: 12px 8px 8px;
    min-height: 200px;
  }
  .partners__text {
    @include fm;
    font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  @include r(767) {
    font-size: 12px;
    line-height: 16px;
  }
  }
  .logo__img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 16px;
    @include r(767) {
      margin-bottom: 12px;
    }
  }
}

.photo {
  .container {
    padding-bottom: 140px;
    @include r(1023) {
      padding-bottom: 100px;
    }
    @include r(991) {
      padding-bottom: 60px;
    }
  }
}

.photo__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.photo__wrap {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
