// Colors
$white:#fff;
$black: #000;

$dark-grey: #212121;
$grey: #282828;
$light-grey: #444444;
$red: #F12D2F;
$grey-txt: #C0C0C0;


// $col-primary: #121314;
// $col-waiting: #FF8540;
// $col-danger: #AD1D41;
// $col-success: #7BBC8D;
// $col-accent: #65A70A;
// $col-warning: #FFBE5D;

// $disable-txt: #a6a6a6;

$animation-speed: all .3s ease; // for mixin
